<div class="employee-authentication-page">
    <div class="employee-authentication-page__inner">
        <div class="employee-authentication-page__inner__logo"></div>
        <h1 class="employee-authentication-page__inner__h1">WHAT'S THE MAIN INGREDIENT HERE ? </h1>
        <div class="employee-authentication-page__inner__auth-image"></div>

        <form class="employee-authentication-page__inner__input" (ngSubmit)="verifyAuthAnswer()">
            <mat-form-field class="employee-authentication-page__inner__input__text">
                <mat-label style="color: rgb(255, 255, 255);">Ex. KitKat/ Cap'n Crunch etc.</mat-label>
                <input matInput placeholder="Ex. Oreo" type="text" value="" [formControl]="gelatoAuthAnswer">
            </mat-form-field>

            <!-- <button ng-click="verifyAuthAnswer()" class="button" type="submit"
                class="employee-authentication-page__inner__input__verify" mat-icon-button
                aria-label="Example icon-button with heart icon">VERIFY ME</button> -->

            <button class="employee-authentication-page__inner__input__button" type="submit"
                (click)="verifyAuthAnswer()" (click)="$event.preventDefault()"
                style="border: 0px; background-color: #98587B; height: 50px; border-radius: 9px; margin-top: -6px;font-family: Summer;color: white; font-size: 16px; word-spacing: 2px; cursor: pointer;">Continue</button>
            <p> {{gelatoAuthResponse.value}}</p>

        </form>

    </div>
</div>