@font-face {
    font-family: Summer;
    src: url('../../assets/fonts/Summer\ Square-Rough.otf') format('truetype');
}

@font-face {
    font-family: Summer2;
    src: url('../../assets/fonts/Summer\ Square.otf') format('truetype');
}

@font-face {
    font-family: Sweet;
    src: url('../../assets/fonts/Sweet\ Affogato.ttf') format('truetype');
}

@font-face {
    font-family: Welcome;
    src: url('../../assets/fonts/Welcome\ Summer.ttf') format('truetype');
}

@font-face {
    font-family: Heading;
    src: url('../../assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    src: url('../../assets/fonts/Barlow-Black.ttf') format('truetype');
}

@font-face {
    font-family: BarlowRegular;
    src: url('../../assets/fonts/Barlow-Regular.ttf') format('truetype');
}



.dashboard-page {
    display: grid;
    background-image: url(../../assets/ccc-assets/background-imge.png);
    height: 100vh;

    &__inner {
        display: grid;
        grid-template-columns: 400px 720px 300px;

        &__logo {
            background-image: url(../../assets/ccc-assets/ccc-logo.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 200px;
            width: 200px;
            margin-top: 10px;
            margin-left: 100px;
        }

        &__locations {
            display: grid;
            margin-top: 8px;

            &__input {
                display: grid;

                grid-template-columns: 400px 100px;
                min-width: 150px;
                max-width: 500px;
                width: 100%;
                height: 50px;
                // background-color: #ffffff;
                color: rgb(96, 96, 96);
                border: 1px #eaabb9 solid;
                border-radius: 10px;
                text-align: center;
                align-items: center;
                padding-left: 8px;
                z-index: 1;
                background-color: #eaabb9;

                &__text {
                    color: #111;
                    z-index: 1;

                    &__label {
                        color: #111;
                    }
                }



            }

            &__verify {
                background-color: #ffffff;
                border-radius: 10px;
                border: 1px solid #eaabb9;
                height: 52px;
                width: 90px;
                text-align: center;
                margin-top: -6px;
                margin-left: 12px;
                cursor: pointer;
                color: rgb(0, 0, 0);
            }

        }

        &__flavouroftheweek {
            height: 100vh;
            background-image: url(../../assets/ccc-assets/bg-image-dash.svg);
            background-repeat: no-repeat;
            display: grid;
            margin-left: -100px;

            &__inner {
                display: grid;
                grid-template-columns: auto;
                margin-top: 8px;
                text-align: left;

                width: 200px;
                grid-template-rows: 100px 50px 230px 40px 40px 80px 80px 50px 50px;

                &__heading {
                    font-family: Welcome;
                    word-spacing: 2px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    line-height: 40px;
                    font-size: 30px;
                    color: white;
                    text-align: center;
                    padding-left: 32px;
                }

                &__scribble {
                    text-align: center;
                    margin-left: 132px;
                    opacity: 0.3;
                    background-repeat: no-repeat;
                    background-image: url("../../assets/icons/scribble.svg");

                }

                &__flavour {
                    width: 300px;
                    height: 215px;
                    background-size: cover;
                    text-align: center;
                    margin-left: 50px;
                    background-repeat: no-repeat;
                    background-image: url("../../assets/gelatos/flavour-of-the-week.svg");
                }

                &__h3 {
                    font-family: Heading;
                    padding-left: 60px;
                    letter-spacing: 1.5px;
                    color: #fff;
                    font-size: 18px;
                }

                &__originalornot {
                    font-family: BarlowRegular;
                    padding-left: 60px;
                    color: #fff;
                }

                &__description {
                    padding-left: 60px;
                    color: #fff;
                }

                &__buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 60px;
                    grid-gap: 30px;

                    &__stock {
                        background-color: #FEDBDA;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                        color: #111;
                    }

                    &__update {
                        color: #111;
                        background-color: #FEDBDA;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                    &__update:hover {
                        color: #ffffff;
                        background-color: #060606;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }



                    &__stock:hover {
                        color: #ffffff;
                        background-color: #060606;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                }

                &__create {
                    color: #111;
                    background-color: #FEDBDA;
                    width: 280px;
                    border-radius: 10px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    margin-left: 60px;
                }

                &__create:hover {
                    color: #ffffff;
                    background-color: #060606;
                    width: 280px;
                    border-radius: 10px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    margin-left: 60px;
                }

            }
        }


    }

    &__h1card {
        font-family: Heading;
        margin-top: -650px;
        margin-left: 100px;
    }

    &__cards-content {
        display: grid;
        margin-top: -600px;
        margin-left: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 250px;
        width: 850px;
        grid-template-columns: 150px 150px 150px 150px auto;
        grid-template-rows: 1fr auto;
        scrollbar-width: 1px !important;


        &__cards {
            padding-top: 10px;
            position: relative;
            display: grid;
            grid-template-rows: 1fr;
            grid-gap: 40px;
            width: 900px;
            grid-template-columns: 170px 170px 170px 170px;
            grid-template-rows: 200px;


            &__item {
                width: 160px;
                height: 150px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 100px 20px 10px;
                text-align: center;
                background-color: #F6F2EF;
                justify-items: center;

                &__img,
                img {
                    height: 90px;
                    width: 80px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &__description {
                    color: #060606;
                    font-size: 10px;
                    text-align: start;
                    width: 170px;
                }

                &__stock {
                    color: #060606;
                    background-color: #e97c94d4;
                    height: 40px;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    margin-left: 130px;
                }
            }
        }
    }

    &__original-cards-content {
        display: grid;
        margin-top: -330px;
        grid-template-rows: 1fr 1fr;
        margin-left: 100px;
        height: 250px;
        width: 850px;
        overflow-y: scroll;
        overflow-x: hidden;

        scrollbar-width: 1px !important;
        grid-template-rows: auto;





        // scrollbar-width: 1px !important;

        &__h1 {
            font-family: Heading;
        }

        &__cards {
            padding-top: 10px;
            position: relative;
            display: grid;
            grid-template-rows: 1fr;
            grid-gap: 40px;
            width: 900px;
            grid-template-columns: 170px 170px 170px 170px;
            grid-template-rows: 200px;


            &__item {
                width: 160px;
                height: 150px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 100px 20px 10px;
                text-align: center;
                background-color: #F6F2EF;
                justify-items: center;

                &__img,
                img {
                    height: 90px;
                    width: 80px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &__description {
                    color: #060606;
                    font-size: 10px;
                    text-align: start;
                    width: 170px;
                }

                &__stock {
                    color: #060606;
                    background-color: #e97c94d4;
                    height: 40px;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    margin-left: 130px;
                }
            }


        }
    }
}

.mat-select-value {
    color: #060606 !important;
}