<app-navbar (onToggleNavbar)="onToggleNavbar($event)"></app-navbar>

<div class="dashboard-page" id="dashboard">


    <div class="dashboard-page__inner">
        <div class="dashboard-page__inner__logo"></div>
        <div class="dashboard-page__inner__locations">

            <form class="dashboard-page__inner__locations__input">
                <mat-form-field class="employee-authentication-page__inner__input__text">

                    <mat-label class="employee-authentication-page__inner__input__text__label" style="color: black;">
                        <p style="color: black;">Current Location : </p>
                    </mat-label>
                    <mat-select style="color: black;">
                        <mat-option *ngFor="let location of locations" [value]="location._id">
                            {{location.name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <button class="dashboard-page__inner__locations__verify" mat-icon-button
                    aria-label="Example icon-button with heart icon">CHANGE
                </button>
            </form>
        </div>

        <div class="dashboard-page__inner__flavouroftheweek">
            <div class="dashboard-page__inner__flavouroftheweek__inner">
                <h3 class="dashboard-page__inner__flavouroftheweek__inner__adres">Name : []</h3>
                <h3 class="dashboard-page__inner__flavouroftheweek__inner__adres">Location : []</h3>
                <div class="dashboard-page__inner__flavouroftheweek__inner__img"> <img
                        class="dashboard-page__inner__flavouroftheweek__inner__img">
                    img here</div>
                <h3 class="dashboard-page__inner__flavouroftheweek__inner__number"> Manager's Number : []</h3>
                <h3 class="dashboard-page__inner__flavouroftheweek__inner__email">Email : []</h3>
                <div class="dashboard-page__inner__flavouroftheweek__inner__gelatos">
                    <h3 class="dashboard-page__inner__flavouroftheweek__inner__gelatos">Gelatos Available :</h3>
                    <ol class="dashboard-page__inner__flavouroftheweek__inner__gelatos__ol">
                        <li>Gelato one</li>
                        <li>Gelato one</li>
                        <li>Gelato one</li>
                        <li>Gelato one</li>
                        <li>Gelato one</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>


    <div>
        <h1 class="dashboard-page__h1card">CEREAL CHURNS</h1>
        <div class="dashboard-page__cerealcards-content">

            <div class="dashboard-page__cerealcards-content__cards1" *ngFor="let gelato of gelatos">
                <mat-card class="dashboard-page__cerealcards-content__cards1__item">
                    <div class="dashboard-page__cerealcards-content__cards1__item__img">
                        <img src="../../assets/gelatos/cocopos_condensedmilk.png">
                    </div>
                    <p class="dashboard-page__cerealcards-content__cards1__item__description">{{gelato.name}}</p>
                    <button class="dashboard-page__cerealcards-content__cards1__item__stock" mat-icon-button
                        aria-label="Example icon-button with heart icon">{{gelato.quantity}}
                    </button>
                </mat-card>

                <!-- <mat-card class="dashboard-page__cerealcards-content__cards1__item">
                    <div class="dashboard-page__cerealcards-content__cards1__item__img">
                        <img src="../../assets/gelatos/cocopos_condensedmilk.png">
                    </div>
                    <p class="dashboard-page__cerealcards-content__cards1__item__description">Cocopops Condensedmilk</p>
                    <button class="dashboard-page__cerealcards-content__cards1__item__stock" mat-icon-button
                        aria-label="Example icon-button with heart icon">12
                    </button>
                </mat-card>

                <mat-card class="dashboard-page__cerealcards-content__cards1__item">
                    <div class="dashboard-page__cerealcards-content__cards1__item__img">
                        <img src="../../assets/gelatos/cocopos_condensedmilk.png">
                    </div>
                    <p class="dashboard-page__cerealcards-content__cards1__item__description">Cocopops Condensedmilk</p>
                    <button class="dashboard-page__cerealcards-content__cards1__item__stock" mat-icon-button
                        aria-label="Example icon-button with heart icon">12
                    </button>
                </mat-card>

                <mat-card class="dashboard-page__cerealcards-content__cards1__item">
                    <div class="dashboard-page__cerealcards-content__cards1__item__img">
                        <img src="../../assets/gelatos/cocopos_condensedmilk.png">
                    </div>
                    <p class="dashboard-page__cerealcards-content__cards1__item__description">Cocopops Condensedmilk</p>
                    <button class="dashboard-page__cerealcards-content__cards1__item__stock" mat-icon-button
                        aria-label="Example icon-button with heart icon">12
                    </button>
                </mat-card>

                <mat-card class="dashboard-page__cerealcards-content__cards1__item">
                    <div class="dashboard-page__cerealcards-content__cards1__item__img">
                        <img src="../../assets/gelatos/cocopos_condensedmilk.png">
                    </div>
                    <p class="dashboard-page__cerealcards-content__cards1__item__description">Cocopops Condensedmilk</p>
                    <button class="dashboard-page__cerealcards-content__cards1__item__stock" mat-icon-button
                        aria-label="Example icon-button with heart icon">12
                    </button>
                </mat-card> -->
            </div>
        </div>

        <h1 class="dashboard-page__original-cards-content__h1">ORIGINAL CHURNS</h1>

        <div class="dashboard-page__original-cards-content__churncards">
            <mat-card class="dashboard-page__original-cards-content__churncards__item">
                <div class="dashboard-page__original-cards-content__churncards__item__img">
                    <img src="../../assets/gelatos/cottoncandymoons.svg">
                </div>
                <p class="dashboard-page__original-cards-content__churncards__item__description">Cotton Candy Moons</p>
                <button class="dashboard-page__original-cards-content__churncards__item__stock" mat-icon-button
                    aria-label="Example icon-button with heart icon">12
                </button>
            </mat-card>

            <mat-card class="dashboard-page__original-cards-content__churncards__item">
                <div class="dashboard-page__original-cards-content__churncards__item__img">
                    <img src="../../assets/gelatos/cottoncandymoons.svg">
                </div>
                <p class="dashboard-page__original-cards-content__churncards__item__description">Cotton Candy Moons</p>
                <button class="dashboard-page__original-cards-content__churncards__item__stock" mat-icon-button
                    aria-label="Example icon-button with heart icon">12
                </button>
            </mat-card>

            <mat-card class="dashboard-page__original-cards-content__churncards__item">
                <div class="dashboard-page__original-cards-content__churncards__item__img">
                    <img src="../../assets/gelatos/cottoncandymoons.svg">
                </div>
                <p class="dashboard-page__original-cards-content__churncards__item__description">Cotton Candy Moons</p>
                <button class="dashboard-page__original-cards-content__churncards__item__stock" mat-icon-button
                    aria-label="Example icon-button with heart icon">12
                </button>
            </mat-card>

            <mat-card class="dashboard-page__original-cards-content__churncards__item">
                <div class="dashboard-page__original-cards-content__churncards__item__img">
                    <img src="../../assets/gelatos/cottoncandymoons.svg">
                </div>
                <p class="dashboard-page__original-cards-content__churncards__item__description">Cotton Candy Moons</p>
                <button class="dashboard-page__original-cards-content__churncards__item__stock" mat-icon-button
                    aria-label="Example icon-button with heart icon">12
                </button>
            </mat-card>

            <mat-card class="dashboard-page__original-cards-content__churncards__item">
                <div class="dashboard-page__original-cards-content__churncards__item__img">
                    <img src="../../assets/gelatos/cottoncandymoons.svg">
                </div>
                <p class="dashboard-page__original-cards-content__churncards__item__description">Cotton Candy Moons</p>
                <button class="dashboard-page__original-cards-content__churncards__item__stock" mat-icon-button
                    aria-label="Example icon-button with heart icon">12
                </button>
            </mat-card>



        </div>
    </div>


</div>