@font-face {
    font-family: Summer;
    src: url('../../assets/fonts/Summer\ Square-Rough.otf') format('truetype');
}

@font-face {
    font-family: Summer2;
    src: url('../../assets/fonts/Summer\ Square.otf') format('truetype');
}

@font-face {
    font-family: Sweet;
    src: url('../../assets/fonts/Sweet\ Affogato.ttf') format('truetype');
}

@font-face {
    font-family: Welcome;
    src: url('../../assets/fonts/Welcome\ Summer.ttf') format('truetype');
}

@font-face {
    font-family: Heading;
    src: url('../../assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    src: url('../../assets/fonts/Barlow-Black.ttf') format('truetype');
}

@font-face {
    font-family: BarlowRegular;
    src: url('../../assets/fonts/Barlow-Regular.ttf') format('truetype');
}

.create-page {
    display: grid;
    background-image: url(../../assets/ccc-assets/background-imge.png);
    height: 100vh;


    &__inner {
        display: grid;
        grid-template-columns: 400px 400px 300px auto;

        &__filter {
            background-image: url(../../assets/ccc-assets/melt.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: -200px;
            height: 130px;
            width: 200px;
            margin-top: -3px;
            padding-top: 5px;
            padding-left: 4px;

        }

        &__logo {
            background-image: url(../../assets/ccc-assets/ccc-logo.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 100px;
            width: 100px;
            margin-top: 10px;
            margin-left: 100px;
        }

        &__locations {
            display: grid;
            background-image: url(../../assets/ccc-assets/melt2.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: -5px;
            height: 120px;
            width: 250px;
            padding-left: 5px;

            &__input {
                display: grid;

                width: 100px;
                height: 70px;
                color: rgb(96, 96, 96);
                border-radius: 15px;
                text-align: center;
                align-items: center;
                padding-left: 8px;
                z-index: 1;


                &__text {
                    color: #111;
                    z-index: 1;

                    &__label {
                        color: #111;
                    }
                }



            }

            &__verify {
                background-color: #F6F2EF;
                border-radius: 10px;
                border: 1px solid #eaabb9;
                height: 52px;
                width: 90px;
                text-align: center;
                margin-top: -6px;
                margin-left: 12px;
                cursor: pointer;
                color: rgb(0, 0, 0);
            }

        }

        &__flavouroftheweek {
            height: 100vh;
            background-image: url(../../assets/ccc-assets/bg-image-dash.svg);
            background-repeat: no-repeat;
            display: grid;

            margin-left: -40px;

            &__inner {
                display: grid;
                grid-template-columns: auto;
                margin-top: 8px;
                text-align: left;

                width: 200px;
                grid-template-rows: 100px 50px 230px 40px 50px 113px 61px 20px 50px;

                &__heading {
                    font-family: Welcome;
                    word-spacing: 2px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    line-height: 40px;
                    font-size: 30px;
                    color: white;
                    text-align: center;
                    padding-left: 32px;

                }

                &__scribble {
                    text-align: center;
                    margin-left: 132px;
                    opacity: 0.3;
                    background-repeat: no-repeat;
                    background-image: url("../../assets/icons/scribble.svg");

                }

                &__flavour1 {
                    width: 230px;
                    height: 215px;
                    display: grid;
                    background-size: cover;
                    background-repeat: no-repeat;
                    text-align: center;
                    justify-self: center;
                    justify-items: center;
                    justify-content: center;
                    align-content: center;
                    margin-left: 80px;
                    border-radius: 10px;
                    background-repeat: no-repeat;
                    box-shadow: 10px 10px 20px 7px #ffffffca;
                    -webkit-box-shadow: 10px 10px 20px 7px #ffffffc6;
                    -moz-box-shadow: 10px 10px 20px 7px #ffffffbd;
                    // background-image: url("../../assets/gelatos/flavour-of-the-week.svg");
                }

                &__h3 {
                    font-family: Heading;
                    padding-left: 60px;
                    letter-spacing: 1.5px;
                    color: #000000;
                    font-size: 18px;
                }

                &__originalornot {
                    font-family: Heading;
                    padding-left: 60px;
                    color: #98587B;
                    font-weight: bold;
                }

                &__description {
                    padding-left: 60px;
                    color: #fff;
                }

                &__buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 60px;
                    grid-gap: 30px;

                    &__stock {
                        background-color: #FEDBDA;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                        color: #111;
                    }

                    &__update {
                        color: #111;
                        background-color: #FEDBDA;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                    &__update:hover {
                        color: #ffffff;
                        background-color: #060606;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }



                    &__stock:hover {
                        color: #ffffff;
                        background-color: #060606;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                }

                &__create {
                    color: #111;
                    background-color: #FEDBDA;
                    width: 280px;
                    border-radius: 10px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    margin-left: 60px;
                }

                &__create:hover {
                    color: #ffffff;
                    background-color: #060606;
                    width: 280px;
                    border-radius: 10px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    margin-left: 60px;
                }

            }
        }

        &__cards {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr;



            &__item {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 160px;
                height: 150px;
                display: grid;

                grid-template-rows: 100px 20px 10px;
                text-align: center;
                background-color: #F6F2EF;
                justify-items: center;

                &__level {
                    display: grid;
                }
            }

        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(5, auto);
        margin-top: -500px;
        height: 415px;
        grid-gap: 24px;
        width: 700px;
        margin-left: 110px;




        &__gelato {
            width: 120px;
            height: 150px;
            display: grid;

            text-align: center;
            background-color: #F6F2EF;
            justify-items: center;
            font-size: 10px;
            color: #2b2b2b;
            grid-template-rows: 65px 38px 16px auto;
            margin: 0px;


            &__p {
                margin-left: -14px;
            }

            &__ingredients {
                display: grid;
                text-align: left;
                word-spacing: 2px;
                line-height: 9px;
            }

            &__buttons {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 4px;

                text-align: center;

                &__stock {
                    color: #060606;
                    font-weight: lighter;
                    font-family: Heading;
                    display: grid;
                    background-color: #F2A3B9;
                    height: 20px;
                    width: 40px;
                    text-align: center;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    font-size: 14px;

                    align-content: center;

                }

                &__create {
                    color: #060606;
                    font-weight: lighter;
                    font-family: Sweet;
                    display: grid;
                    background-image: linear-gradient(45deg,
                            hsl(359deg 52% 62%) 0%,
                            hsl(17deg 80% 63%) 4%,
                            hsl(33deg 90% 59%) 12%,
                            hsl(28deg 100% 68%) 22%,
                            hsl(13deg 96% 78%) 35%,
                            hsl(2deg 65% 79%) 50%,
                            hsl(354deg 70% 75%) 70%,
                            hsl(347deg 71% 70%) 100%);
                    height: 20px;
                    width: 75px;
                    text-align: center;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    font-size: 14px;

                    align-content: center;

                }

                &__create:hover {
                    color: #ffffff;
                    font-weight: lighter;
                    font-family: Sweet;
                    display: grid;
                    background-color: #ec5172;
                    height: 20px;
                    width: 75px;
                    text-align: center;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    font-size: 14px;
                }


            }

            // &__image,
            // img {
            //     height: 50px;
            //     width: 40px;
            //     background-repeat: no-repeat;
            //     background-size: contain;
            // }

        }

        &__gelato:hover {
            box-shadow: 10px 10px 20px 7px #98587B;
            -webkit-box-shadow: 10px 10px 20px 7px #98587B;
            -moz-box-shadow: 10px 10px 20px 7px #98587B;
        }

    }
}

.mat-select-value-text {
    white-space: nowrap;
    color: #060606 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog {
    background-color: #98587B;
}