<div class="dialog">
    <h1 mat-dialog-title class="dialog__h1">Ingredients Needed to Make {{data.gelato.name}}</h1>
    <div mat-dialog-content class="dialog__content">

        <div>ingred
            <p *ngFor="let location of ingredientsAvaliable">{{ingredientsAvaliable.name}} test</p>
        </div>

    </div>
    <div mat-dialog-actions class="dialog__buttons">
        <button mat-button (click)="onNoClick()" class="dialog__buttons__create">Close</button>
        <button mat-button (click)="create()" class="dialog__buttons__create">Create</button>

    </div>
</div>