@font-face {
    font-family: Summer;
    src: url('../../assets/fonts/Summer\ Square-Rough.otf') format('truetype');
}

@font-face {
    font-family: Summer2;
    src: url('../../assets/fonts/Summer\ Square.otf') format('truetype');
}

@font-face {
    font-family: Sweet;
    src: url('../../assets/fonts/Sweet\ Affogato.ttf') format('truetype');
}

@font-face {
    font-family: Welcome;
    src: url('../../assets/fonts/Welcome\ Summer.ttf') format('truetype');
}

@font-face {
    font-family: Heading;
    src: url('../../assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Barlow;
    src: url('../../assets/fonts/Barlow-Black.ttf') format('truetype');
}

@font-face {
    font-family: BarlowRegular;
    src: url('../../assets/fonts/Barlow-Regular.ttf') format('truetype');
}

.create-page {
    display: grid;
    background-image: url(../../assets/ccc-assets/background-imge.png);
    height: 100vh;


    &__inner {
        display: grid;
        grid-template-columns: 400px 400px 300px auto;

        &__filter {
            margin-left: 8px;
            margin-top: 8px;
            background-color: #FA9EA2;
            border-radius: 15px;
            height: 80px;
            display: grid;
            width: 200px;
            color: #060606;

        }

        &__logo {
            background-image: url(../../assets/ccc-assets/ccc-logo.svg);
            background-repeat: no-repeat;
            background-size: contain;
            height: 200px;
            width: 200px;
            margin-top: 10px;
            margin-left: 100px;
        }

        &__locations {
            display: grid;
            margin-top: -1px;
            margin-left: 150px;
            padding: 10px;
            height: 60px;
            border-radius: 15px;

            &__input {
                display: grid;
                // margin-left: 400px;

                grid-template-columns: 200px 100px;
                min-width: 90px;
                max-width: 200px;

                height: 70px;
                // background-color: #ffffff;
                color: rgb(96, 96, 96);
                border: 1px #eaabb9 solid;
                border-radius: 15px;
                text-align: center;
                align-items: center;
                padding-left: 8px;
                z-index: 1;
                background-color: #FA9EA2;

                &__text {
                    color: #111;
                    z-index: 1;

                    &__label {
                        color: #111;
                    }
                }



            }

            &__verify {
                background-color: #F6F2EF;
                border-radius: 10px;
                border: 1px solid #eaabb9;
                height: 52px;
                width: 90px;
                text-align: center;
                margin-top: -6px;
                margin-left: 12px;
                cursor: pointer;
                color: rgb(0, 0, 0);
            }

        }

        &__flavouroftheweek {
            height: 100vh;
            background-image: url(../../assets/ccc-assets/bg-image-dash.svg);
            background-repeat: no-repeat;
            display: grid;

            margin-left: -40px;

            &__inner {
                display: grid;
                grid-template-columns: auto;
                margin-top: 8px;
                text-align: left;

                width: 200px;
                grid-template-rows: 100px 50px 230px 40px 40px 80px 80px 50px 50px;

                &__heading {
                    font-family: Welcome;
                    word-spacing: 2px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    line-height: 40px;
                    font-size: 30px;
                    color: white;
                    text-align: center;
                    padding-left: 32px;
                }

                &__scribble {
                    text-align: center;
                    margin-left: 132px;
                    opacity: 0.3;
                    background-repeat: no-repeat;
                    background-image: url("../../assets/icons/scribble.svg");

                }

                &__flavour {
                    width: 300px;
                    height: 215px;
                    background-size: cover;
                    text-align: center;
                    margin-left: 50px;
                    background-repeat: no-repeat;
                    background-image: url("../../assets/gelatos/flavour-of-the-week.svg");
                }

                &__h3 {
                    font-family: Heading;
                    padding-left: 60px;
                    letter-spacing: 1.5px;
                    color: #fff;
                    font-size: 18px;
                }

                &__originalornot {
                    font-family: BarlowRegular;
                    padding-left: 60px;
                    color: #fff;
                }

                &__description {
                    padding-left: 60px;
                    color: #fff;
                }

                &__buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding-left: 60px;
                    grid-gap: 30px;

                    &__stock {
                        background-color: #FEDBDA;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                        color: #111;
                    }

                    &__update {
                        color: #111;
                        background-color: #FEDBDA;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                    &__update:hover {
                        color: #ffffff;
                        background-color: #060606;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }



                    &__stock:hover {
                        color: #ffffff;
                        background-color: #060606;
                        width: 120px;
                        border-radius: 10px;
                        border-top-right-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                }

                &__create {
                    color: #111;
                    background-color: #FEDBDA;
                    width: 280px;
                    border-radius: 10px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    margin-left: 60px;
                }

                &__create:hover {
                    color: #ffffff;
                    background-color: #060606;
                    width: 280px;
                    border-radius: 10px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    margin-left: 60px;
                }

            }
        }

        &__cards {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr;

            &__item {
                width: 160px;
                height: 150px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 100px 20px 10px;
                text-align: center;
                background-color: #F6F2EF;
                justify-items: center;
            }

        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(5, auto);
        margin-top: -650px;
        height: 600px;
        grid-gap: 24px;
        width: 700px;
        margin-left: 110px;




        &__gelato {
            width: 120px;
            height: 110px;
            display: grid;
            text-align: center;
            background-color: #F6F2EF;
            justify-items: center;
            font-size: 10px;
            color: #2b2b2b;
            grid-template-rows: 45px 20px 38px auto;
            margin: 0px;
            padding: 20px;

            &__p {
                margin-left: -14px;
            }

            &__ingredients {
                display: grid;
                text-align: left;
                word-spacing: 2px;
                line-height: 9px;
            }

            &__buttons {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 4px;

                text-align: center;

                &__stock {
                    display: grid;
                    color: #1c1c1c;
                    border-color: 1px solid #3cdfdccb;

                    height: 20px;
                    width: 50px;
                    border-radius: 5px;
                    align-content: center;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    font-family: Barlow;

                }

                &__create {
                    color: #060606;
                    font-weight: lighter;
                    font-family: Sweet;
                    display: grid;
                    background-color: #e97c94d4;
                    height: 20px;
                    width: 75px;
                    text-align: center;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    font-size: 14px;

                    align-content: center;

                }

                &__create:hover {
                    color: #ffffff;
                    font-weight: lighter;
                    font-family: Sweet;
                    display: grid;
                    background-color: #ec5172;
                    height: 20px;
                    width: 75px;
                    text-align: center;
                    border-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 0px;
                    font-size: 14px;
                }


            }

            &__image,
            img {
                height: 50px;
                width: 40px;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }

        &__gelato:hover {
            box-shadow: 10px 10px 20px 7px rgba(239, 212, 76, 0.43);
            -webkit-box-shadow: 10px 10px 20px 7px rgba(239, 212, 76, 0.43);
            -moz-box-shadow: 10px 10px 20px 7px rgba(239, 212, 76, 0.43);
        }

    }
}

.mat-select-value-text {
    white-space: nowrap;
    color: #060606 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}