<div class="landing-component">
    <div class="landing-component__images" style="margin-bottom: 50px;padding-top: 20px;">
        <img src="../../assets/ccc-assets/ccc-logo.svg" class="landing-component__logo1" style="height:
        80px;">
        <img src="../../assets/ccc-assets/chillCorner.svg" class="landing-component__logo2" style="height:
        80px;">
        <img src="../../assets/ccc-assets/smoothStreet.svg" class=" landing-component__logo3" style="height:
        80px;">
    </div>
    <div class="landing-component__login">
        <button class="landing-component__login1" routerLink="../authentication">Employee Login</button>
    </div>
    <div class="landing-component__inner">

        <div class="landing-component__inner__left">
            <img src="../../assets/ccc-assets/cotton-candy-moons-landing-image.png"
                class="landing-component__inner__left__img">
            <img src="../../assets/ccc-assets/slogan-image.png" class="landing-component__inner__left__slogan">
        </div>

        <div class="landing-component__inner__right">
            <h1 class="landing-component__inner__right__h1">SPECIAL FLAVOURS</h1>
            <h3 class="landing-component__inner__right__h3">Fresh, handmade, all-natural gelato churned from the highest
                quality local ingredients.</h3>
            <!-- <button class="landing-component__inner__right__subscribe" mat-raised-button
                color="primary">SUBSCRIBE</button> -->
            <!-- <h5 class="landing-component__inner__right__subscribe-h5">For our weekly gelato and delivery fees.</h5> -->
            <h5 class="landing-component__inner__right__madeby-h5">Here at Cool Culture we keep our gelato in
                biodegradable tubs <br>with limited favourite mouth
                watering gelato flavours. <br><br><br><br>

                Made for everyone, by Millennials.</h5>
            <div class="landing-component__inner__right__socials" style="margin-top: 300px;">
                <button class="landing-component__inner__right__socials__ig"> </button>
                <button class="landing-component__inner__right__socials__fb"> </button>
                <button class="landing-component__inner__right__socials__contactus"> </button>

            </div>
        </div>
    </div>