<div class="navbar" [ngClass]="collapsed ? 'navbar-collapsed': ''">


    <div class="navbar__logo-container">
        <button class="navbar__logo-container__logo" (click)="toggleCollapse()"></button>
        <div class="navbar__logo-container__logo-text" *ngIf="collapsed"> </div>
        <button class="navbar__logo-container__button-close" *ngIf="collapsed" (click)="closeNavbar()">
            <i class="navbar__logo-container__close">
                <!-- <img class="navbar__logo-container__button-close__icon"
                    src="../../assets/icons/toggle.svg">  -->
            </i>X</button>

    </div>
    <ul class="navbar__nav">
        <li class="navbar__nav__item" *ngFor="let data of navData">

            <a class="navbar__nav__item__link" [routerLink]="data.routeLink" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <img src={{data.icon}} />
                <i class="navbar__nav__item__link__icon" [class]="data.icon"></i>
                <!-- <i class="navbar__nav__item__link__icon"></i> -->
                <span class="navbar__nav__item__link__text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>


    </ul>
</div>