<app-navbar (onToggleNavbar)="onToggleNavbar($event)"></app-navbar>

<div class="inventory-page" id="inventory">
    <div class="inventory-page__innerinner">
        <div class="inventory-page__innerinner__logo">

        </div>

        <div class="inventory-page__innerinner__locations">

            <form class="inventory-page__innerinner__locations__input">
                <mat-form-field class="inventory-page__innerinner__input__text">

                    <mat-label class="inventory-page__innerinner__input__text__label" style="color: black;">
                        <p style="color: black;">Current Location : </p>
                    </mat-label>
                    <mat-select [value]="selectedOption" namestyle="color: black;"
                        (selectionChange)="updateLocation($event)">
                        <mat-option *ngFor="let location of locations$ | async" [value]="location._id">
                            {{location.name}}
                        </mat-option>
                    </mat-select>

                </mat-form-field>


            </form>

        </div>

        <div class="inventory-page__innerinner__filter">
            <mat-form-field style="color: #000000cb; width: 170px; margin-left: 10px;">
                <mat-label style="color: #000000cb;  ">Filter</mat-label>
                <mat-select [(value)]="selected" style="color: #000000cb;" (selectionChange)="updateIngredient($event)">
                    <mat-option value="">None</mat-option>
                    <mat-option value="originalChurn">Original Churns</mat-option>
                    <mat-option value="cerealChurn">Cereal Churns</mat-option>
                    <mat-option value="candyChurn">Candy Churns</mat-option>

                </mat-select>
            </mat-form-field>
            <div class="inventory-page__innerinner__notified">
                <p class="inventory-page__innerinner__notified__p">Make sure your stock isn't running low!</p>
            </div>
        </div>
        <div class="inventory-page__innerinner__heading">
            <h4 style="margin-left: 120px; margin-top: -24px; width: 400px;">Your inventory overview of all
                <span style="font-weight: bold;">{{ingredients.length}}</span> ingredients in
                {{location.name}}
            </h4>
        </div>
    </div>

    <div class="inventory-page__inner">

        <div class="inventory-page__inner__cards">
            <mat-card class="inventory-page__inner__cards__gelato" *ngFor="let ingredient of ingredients">
                <p class="inventory-page__inner__cards__gelato__p"
                    style="line-height: 8.5px; text-align: left; margin-bottom: -15px;">
                    {{ingredient.name}}</p>
                <div class="inventory-page__inner__cards__gelato__image">
                    <img src="../../assets/ingredients/{{ingredient.image}}"
                        style="padding-top:16px;height: 85px; width: 85px; justify-items: center; align-items: center; align-self: center; align-content: center;margin-left: -29px;margin-top: -8px;border-radius: 10px;">
                </div>


                <!-- STOCK LEVEL LOW OR SUFFICIENT -->
                <div style="margin-top: 24px;">
                    <p class="dashboard-page__cerealcards-content__cards1__item__level"
                        style="margin-left: -75px; padding-top: 16px;">
                        Stock Level: </p>
                    <div *ngIf="ingredient.quantity < 8  else ingredientSufficient">
                        <p class="dashboard-page__cerealcards-content__cards1__item__level"
                            style="margin-left: -100px;  margin-top: -20px; font-family: Barlow; font-weight: bold; color: orange; font-size: 12px;">
                            LOW!</p>
                    </div>

                    <ng-template #ingredientSufficient>
                        <p class="dashboard-page__cerealcards-content__cards1__item__level"
                            style="margin-left: -80px; margin-top: -20px; font-family: Barlow; font-weight: bold; color: #E76A86">
                            SUFFICIENT</p>
                    </ng-template>
                </div>
                <div class="inventory-page__inner__cards__gelato__buttons" style="margin-bottom: -15px;">
                    <button class="inventory-page__inner__cards__gelato__buttons__stock" mat-icon-button
                        aria-label="stock">{{ingredient.quantity}}
                    </button>
                    <button class="inventory-page__inner__cards__gelato__buttons__create" mat-icon-button
                        aria-label="create" style="margin-right: -11px;" (click)="openDialog(ingredient)">Update
                    </button>
                </div>

            </mat-card>

        </div>
    </div>
</div>